body{
background-color: yellow;
}


*{
    text-align: center;
    font-family: 'Karma', serif;

}

h1{
    font-size: 45px;
    text-shadow: 5px 4px red;
    
}

.currentDisc {
    height: 75px;
    width: 75px;
    background-color:red;
    border-radius: 50%;
}
/* .disc_one {

    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
}

.disc_two {

    height: 45px;
    width: 45px;
    background-color: red;
    border-radius: 50%;
} */

#gameBoard {
    margin: 20px auto;
    display: table;
    width: fit-content;
    padding: 10px;
    background: #0077EE;
    border: 1px solid #0044AA;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     border-spacing: 5px 5px;
     display: flex;
     justify-content:space-between;
     
  }

  .row {
      display: table-row;
      
      margin-left: 20px;
      margin-top: 10px;
  }

  .cell {
      /* display: table-cell; */
      height: 75px;
      width: 75px;
      border-radius: 50%;
      background-color: white;
      margin: 5px 10px;
     
  }

  .column {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .winner {
    font-size: 42px;
    font-weight: bolder;
    color:black;
    
  }

